# =============================================================================
# DEFAULTS — Valores compartilhados entre dev e prod (não-sensíveis)
# Sobrescrito por development.env ou production.env
# =============================================================================

APP_URL=http://localhost:8088
DOCKER_WWWROOT=/usr/share/nginx/html/dist/

APP_ENV=development
NODE_ENV=development


